/* @font-face {
    font-family: 'HankenGrotesk-Bold';
    src: url(./assets/fonts/HankenGrotesk-Bold.ttf)
    format('truetype');
}

@font-face {
    font-family: 'HankenGrotesk-ExtraBold';
    src: url(./assets/fonts/HankenGrotesk-ExtraBold.ttf)
    format('truetype');
}

@font-face {
    font-family: 'HankenGrotesk-Medium';
    src: url(./assets/fonts/HankenGrotesk-medium.ttf)
    format('truetype');
} */

/* ./ vs / vs nothing for path directory  */

@font-face {
    font-family: 'HankenGrotesk';
    src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf)
    format('truetype');
}




















ul{
    padding-inline-start: 0;
}

h6{
    text-align: center;
}

.main{
    margin: 70px;
    display: inline-flex;
    width: 650px;
    height: 360px;
    flex-flow: wrap;
    justify-content: space-between;
   /* border: solid; */
   border-radius: 30px;
   box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.container-left{
    background-color: hsla(241, 93%, 48%, 0.859);
    border-radius: 10%;
    width: 300px;
    height: 360px;
    color: white;
 
}


.start{
text-align: center;
 margin-top: 25px;
}

.side-results{
    border-radius: 50%;
    border: 2px solid #ccc;;
    width: 130px;
    height: 130px;
    padding: 10px 10px;
    margin-left: 88px;
    margin-top: 20px;
    margin-bottom: 25px;
    text-align: center;

}

.card-title{
    text-align: center
}

.card-text-test{
    text-align: center; 
     width: 230px;
     margin-left: 35px;
    }


.container-right{
    width: 300px;
    height: 360px;
    display: inline-flex;
    flex-flow: column;
    flex-grow: 1;
  
    justify-content: right;
    align-items: center;
}

.summary-right{
    margin-right: 225px;

   
}


.list-style li{ 
    border:  2px solid rgb(74, 123, 98);
    width: 300px;
    height: 40px;
    border-radius: 8px;
    /* to hide bullet points  */
    list-style-type: none; 
    margin-top: 15px;
    }

 .list-style, li{
        
   
    }

.section{
 margin-left: 10px   
}



.second-button-test{
    border-radius: 23px;
    width: 300px;
    height: 45px;
   
}

.img-margin{
margin-left: 10px
}
/* 








*/